<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.5.1" targetFramework="net481" />
  <package id="CmlLib.Core" version="4.0.5" targetFramework="net481" />
  <package id="CmlLib.Core.Auth.Microsoft" version="3.2.2" targetFramework="net481" />
  <package id="CmlLib.Core.Bedrock.Auth" version="0.0.7" targetFramework="net481" />
  <package id="CmlLib.Core.Commons" version="4.0.0" targetFramework="net481" />
  <package id="CmlLib.Core.Installer.Forge" version="1.1.0" targetFramework="net481" />
  <package id="Costura.Fody" version="6.0.0" targetFramework="net481" developmentDependency="true" />
  <package id="DiscordRichPresence" version="1.2.1.24" targetFramework="net481" />
  <package id="Fody" version="6.9.2" targetFramework="net481" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.30.2" targetFramework="net481" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net481" />
  <package id="HtmlAgilityPack" version="1.12.1" targetFramework="net481" />
  <package id="K4os.Compression.LZ4" version="1.3.8" targetFramework="net481" />
  <package id="K4os.Compression.LZ4.Streams" version="1.3.8" targetFramework="net481" />
  <package id="K4os.Hash.xxHash" version="1.0.8" targetFramework="net481" />
  <package id="LZMA-SDK" version="22.1.1" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.4" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.4" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.4" targetFramework="net481" />
  <package id="Microsoft.Identity.Client" version="4.71.1" targetFramework="net481" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.71.1" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.9.0" targetFramework="net481" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net481" />
  <package id="Microsoft.Web.WebView2" version="1.0.3179.45" targetFramework="net481" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="MojangAPI" version="1.2.1" targetFramework="net481" />
  <package id="MySql.Data" version="9.3.0" targetFramework="net481" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net481" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.Collections" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.4" targetFramework="net481" />
  <package id="System.Console" version="4.3.1" targetFramework="net481" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.4" targetFramework="net481" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net481" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net481" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net481" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="9.0.4" targetFramework="net481" />
  <package id="System.Linq" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Net.Http.Json" version="9.0.4" targetFramework="net481" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net481" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.ProtectedData" version="9.0.4" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="9.0.4" targetFramework="net481" />
  <package id="System.Text.Json" version="9.0.4" targetFramework="net481" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net481" />
  <package id="System.Threading" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Dataflow" version="9.0.4" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net481" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net481" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net481" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net481" />
  <package id="WinBlur" version="1.0.0" targetFramework="net481" />
  <package id="XboxAuthNet" version="3.0.5" targetFramework="net481" />
  <package id="XboxAuthNet.Game" version="1.3.2" targetFramework="net481" />
  <package id="XboxAuthNet.Game.Msal" version="0.1.2" targetFramework="net481" />
  <package id="ZstdSharp.Port" version="0.8.5" targetFramework="net481" />
</packages>